

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>نمایش آگهی ها</title>
    <meta name="description" content="Katen - قالب وبلاگ و مجله خبری مینیمال">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
    <!-- STYLES -->
    <link rel="stylesheet" href="/static/theme/css/bootstrap.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/theme/css/all.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/theme/css/slick.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/theme/css/simple-line-icons.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/theme/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/theme/css/vazir-font.css" type="text/css" media="all">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- preloader -->
<div id="preloader">
    <div class="book">
        <div class="inner">
            <div class="left"></div>
            <div class="middle"></div>
            <div class="right"></div>
        </div>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<!-- site wrapper -->
<div class="site-wrapper">

    <div class="main-overlay"></div>

    <!-- header -->
    <header class="header-personal header-color">
        <div class="container-xl header-top">
            <div class="row align-items-center">

                <div class="col-4 d-none d-md-block d-lg-block">
                    <!-- social icons -->
                    <ul class="social-icons list-unstyled list-inline mb-0">
                        <li class="list-inline-item"><a href="http://sql:55/c.aspx" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="شماره تماس همکاران" ><i class="fa fa-address-book"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.ibank.net/Login" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="بانک امین" ><i class="fa fa-university"></i></a></li>
                        <li class="list-inline-item"><a href="" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="لینکها" ><i class="fa fa-server"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.874.net/" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="صفحه من" ><i class="fa fa-id-card"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.agah.net/" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="آگاه" ><i class="fa fa-camera-retro"></i></a></li>
                        <!-- <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li> -->
                    </ul>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12 text-center">
                    <!-- site logo -->
                    <a class="navbar-brand" href="/index"><img src="/static/theme/images/other/avatar-lg.png" alt="logo"/></a>
                    <a href="/index" class="d-block text-logo"><h2><span style="padding-left: 2px;" class="dot">.</span>پورتال </h2></a>
                    <span class="slogan d-block">پورتال اداره کل  برای اطلاع رسانی در اداره کل</span>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12">
                    <!-- header buttons -->
                    <div class="header-buttons float-md-end mt-4 mt-md-0">
                        <button class="search icon-button">
                            <i class="icon-magnifier"></i>
                        </button>
                        <button class="burger-menu icon-button ms-2 float-end float-md-none">
                            <span class="burger-icon"></span>
                        </button>
                        <a href="/logout" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="خروج" class="icon-button ms-2 float-end float-lg-none">
                            <span class="fa fa-share-square"></span>
                        </a>
                        <a href="/user_s/edite/self" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="ویرایش اطلاعات کاربر" class="icon-button-lg ms-2 float-end float-lg-none">
                            <span style="padding-top: 3px;padding-left: 3px;">{{ user_data["username"] }} - </span><span class="fa fa-user"></span>
                        </a>
                       <script>
                        const tooltipTriggerList=[].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
                        tooltipTriggerList.map(function (tooltipTriggerE1){
                            return new bootstrap.Tooltip(tooltipTriggerE1)
                        })
                    </script>
                    </div>
                </div>

            </div>
        </div>

        <nav class="navbar navbar-expand-lg">
            <div class="container-xl">

                <div class="collapse navbar-collapse justify-content-center centered-nav">
                    <!-- menus -->
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">صفحه اصلی</a>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="#">معاونت ها</a>
                           <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="/notif/0">اداره کل</a></li>
                              {%for mo in moavenats %}
                              <li><a class="dropdown-item" href="/notif/{{mo}}">{{mo}}</a></li>
                              {%endfor%}
                           </ul>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="nav-link dropdown-toggle" href="/post/index/all/1">آگهی</a>
                           <ul class="dropdown-menu">
                               <li><a class="dropdown-item" href="/post/index/all/1">آگهی ها</a></li>
                               <li><a class="dropdown-item" href="/post/index/username/{{user_data['username']}}/1">آگهی های من</a></li>
                               <li><a class="dropdown-item" href="/post/create">نوشتن آگهی</a></li>
                           </ul>
                       </li>
                       <li class="nav-item">
                        <a class="nav-link" href="/form/archive/index/all/all/1">فرم ها</a>
                        </li>
                       <li class="nav-item">
                           <a class="nav-link" href="">لینک ها</a>
                       </li><li class="nav-item">
                           <a class="nav-link" href="about.html">درباره ما</a>
                       </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <section class="hero-carousel">
        <div class="row post-carousel-featured post-carousel">
            <!-- post -->
            
            {% for group_object in groups %}
            <div class="post featured-post-md">
                <div class="details clearfix">
                    <!-- <a href="category.html" class="category-badge">برچسب آگهی</a> -->
                    <h4 class="post-title"><a href="/form/archive/index/group/{{group_object['name']}}/1"> {{group_object['name']}}</a></h4>
                    <!-- <ul class="meta list-inline mb-0">
                        <li class="list-inline-item"><a href="#">کاتن</a></li>
                        <li class="list-inline-item">30 اردیبهشت 1401</li>
                    </ul> -->
                </div>
                <a href="/form/archive/index/group/{{group_object['name']}}/1">
                    <div class="thumb rounded">
                        <div style="height: 160px;" class="inner data-bg-image" data-bg-image="/static/from_group_img/{{group_object['img']}}"></div>
                    </div>
                </a>
            </div>
            {%endfor%}

        </div>
    </section>

    <!-- section main content -->
    <section class="main-content">
        <div class="container-xl">

            <div class="row gy-4">

                <div class="col-lg-8">

                    <div class="row gy-4">
                     {% for form_Ar in main_form_list %}

                     <div class="col-sm-4">
                         <!-- post -->
                         <div class="post post_small post-grid rounded bordered">
                             <div class="thumb top-rounded">
                                
                                 
                                 <a href="/form/archive/single/{{form_Ar['_id']}}">
                                     <div class="inner">
                                            {% if form_Ar['img'].endswith(('.mp4','.webm','.ogg')) %}
                                            <video controls preload="metadata" style="max-width: 340px;max-height: 256px;" >
                                                <source src="/static/form_archive/{{form_Ar['img']}}" type="video/mp4">
                                            </video>
                                            {%else%}
                                            <img src="/static/form_archive/{{form_Ar['img']}}" alt="post-title"/>
                                            {%endif%}
                                         
                                     </div>
                                 </a>
                                 <div style="padding-right: 10px;padding-top: 7px;padding-bottom: 7px;">
                                    
                                    <a href="/post/index/group/{{form_Ar['group']}}/1"  class="category-badge">{{form_Ar['group']}}</a>
                                    
                                   </div>
                             </div>
                             <div class="details">
                                 <ul class="meta list-inline mb-0">
                                     <!-- <li class="list-inline-item"><a href="#"><img src="/static/theme/images/other/author-sm.png"
                                                                                   class="author" alt="author"/>کاتن</a>
                                     </li>
                                     <li class="list-inline-item">30 اردیبهشت 1401</li> -->
                                 </ul>
                                 <h5 class="post-title mb-3 mt-3"><a href="/form/archive/single/{{form_Ar['_id']}}">{{form_Ar['title']}}</a></h5>
                                 <span class="date">{{form_Ar["date"]}}</span>
                                 
                                 <p class="excerpt mb-0">
                                     {% if form_Ar['text']|length > 40 %}
                                     {{form_Ar['text'][:40]}}...
                                     {%else%}
                                     {{form_Ar['text'][:40]}}
                                     {%endif%}
                                     

                                 </p>
                             </div>
                             <div class="post-bottom clearfix d-flex align-items-center">
                                 <div class="social-share me-auto">

                                     
                                     
                                    
                                 </div>
                                 <div class="more-button float-end">
                                         {% if form_Ar['attachment'] %}
                                         <a style="cursor: pointer;" onclick='downloadAll( {{form_Ar["attachment"] | tojson }} )'> <i style="padding-right: 0.5rem;" class='fa fa-download'></i> </a>

                                         {% endif %}
                                 </div>
                                 <div class="more-button float-end">
                                    {% if user_data["type"] == "0" %}
                                    <a href="/form/archive/delete/{{form_Ar['_id']}}/{{type_req}}/{{data}}/{{page}}" style="cursor: pointer;" > <i style="padding-right: 0.5rem;" class='fa fa-trash'></i> </a>
                                    {% endif %}
                                    
                            </div>
                             </div>
                         </div>
                     </div>
                     {%endfor%}
                     <script>
                             
                        let clickTimeout = null;
                        let clickCount = 0;
                        
                    
                        function handleLikeDislike(button) {
                            const item_id =button.dataset.postId
                            const count_like =button.dataset.postCountl

                            clickCount++;

                            const like_url='/like/'+item_id+'/like/post/index/'+count_like
                            const dislike_url='/like/'+item_id+'/dislike/post/index/'+count_like


                            if (clickTimeout) {
                                clearTimeout(clickTimeout);
                            }
                    
                            clickTimeout = setTimeout(() => {
                                if (clickCount === 1) {

                                    sendAction(like_url,item_id);
                                } else if (clickCount === 2) {

                                    sendAction(dislike_url,item_id);
                                }
                                clickCount = 0;
                            }, 400); // زمان انتظار برای بررسی دابل‌کلیک (قابل تنظیمه)
                        }
                    
                        function sendAction(url,item_id) {
                            fetch(url, {
                                method: 'get',
                                headers: { 'Content-Type': 'application/json' },
                            })
                            .then(res => res.text())
                            .then(data => {
                                document.getElementById(item_id).textContent = data;
                            });
                        }
                    </script>



                    </div>

                    <nav>
                        <ul class="pagination justify-content-center">
                            
                            
                            {%set page_prev = page-1 %}
                            
                            {%if page_prev != 1 and page_prev != 0 %}
                                <li class="page-item"><a class="page-link" href="/form/archive/index/{{type_req}}/{{data}}/1">1</a></li>
                            {%endif%}

                           
                            {% set page_1 = page_prev-1 %}
                            {%if page_1 > 1 %}
                            <li style="padding-top: 18px;" class="page-item active" aria-current="page"><span style="width: 8px;height: 8px;" class="page-link"></span>
                            </li>
                            <li style="padding-top: 18px;" class="page-item active" aria-current="page"><span  style="width: 8px;height: 8px;" class="page-link"></span>
                            </li>
                            {%endif%}
                            
                            {%if page != 1%}
                            
                                <li class="page-item"><a class="page-link" href="/form/archive/index/{{type_req}}/{{data}}/{{page_prev}}">{{page_prev}}</a></li>
                            {%endif%}

                            <li class="page-item active" aria-current="page">
                                <span class="page-link">{{page}}</span>
                             </li>

                            {%set page_next = page+1 %}
                            {%if page < page_count %}
                            
                                <li class="page-item"><a class="page-link" href="/form/archive/index/{{type_req}}/{{data}}/{{page_next}}">{{page_next}}</a></li>
                            {%endif%}

                            {% set page_2 =page_count  -page_next %}
                            {%if page_2 > 1 %}
                            <li style="padding-top: 18px;" class="page-item active" aria-current="page"><span style="width: 8px;height: 8px;" class="page-link"></span>
                            </li>
                            <li style="padding-top: 18px;" class="page-item active" aria-current="page"><span  style="width: 8px;height: 8px;" class="page-link"></span>
                            </li>
                            {%endif%}

                            {%if page_next < page_count %}
                            
                                <li class="page-item"><a class="page-link" href="/form/archive/index/{{type_req}}/{{data}}/{{page_count}}">{{page_count}}</a></li>
                            {%endif%}


                           
                        </ul>
                    </nav>

                </div>

                <div class="col-lg-4">

                    <!-- sidebar -->
                    <div class="sidebar">
                        <!-- widget about -->
                        <div class="widget rounded">
                           <div class="widget-about data-bg-image text-center" data-bg-image="images/map-bg.png">
                               <!-- <img src="/static/theme/images/logo.svg" alt="logo" class="mb-4"/> -->
                               مقام معظم رهبری
                               <p class="mb-4">اگر حادثه کربلا و اسوه گیری از آن نبود، انقلاب اسلامی ایران پیروز نمیشد.
                                <br>
                                1404/3/26
                            </p>
                                   <ul class="social-icons list-unstyled list-inline mb-0">
                                    <li class="list-inline-item"><a href="http://sql:55/c.aspx" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="شماره تماس همکاران" ><i class="fa fa-address-book"></i></a></li>
                                    <li class="list-inline-item"><a href="https://www.ibank.net/Login" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="بانک امین" ><i class="fa fa-university"></i></a></li>
                                    <li class="list-inline-item"><a href="" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="لینکها" ><i class="fa fa-server"></i></a></li>
                                    <li class="list-inline-item"><a href="https://www.874.net/" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="صفحه من" ><i class="fa fa-id-card"></i></a></li>
                                    <li class="list-inline-item"><a href="https://www.agah.net/" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="آگاه" ><i class="fa fa-camera-retro"></i></a></li>
                                    <!-- <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li> -->
                                </ul>
                           </div>
                       </div>

                         <!--  مطالب مهم -->
                         <div class="widget rounded">
                           <div class="widget-header text-center">
                               <h3 class="widget-title">مطالب مهم</h3>
                               <img src="/static/theme/images/wave.svg" class="wave" alt="wave"/>
                           </div>
                           <div class="widget-content">
                               <div class="post-carousel-widget">
                                   <!-- post -->
                                   
                               {%for item in  main_notif_list_admin %}
                                   <div class="post post-carousel">
                                       <div class="thumb rounded">
                                           <a href="/notif/{{item['moavenat']}}" class="category-badge position-absolute">{%if item["moavenat"]=="0" %}  اداره کل  {%else%}  {{item["moavenat"]}} {%endif%} </a>
                                           <a href="/notif/single/{{item['_id']}}">
                                               <div class="inner">
                                                {% if item['img'].endswith(('.mp4','.webm','.ogg')) %}
                                                <!-- <img src="/static/notif_img/{{item['img']}}" alt="post-title"/> -->
                                                <img src="/static/notif_img/default_video.jpg" alt="post-title"/>
                                                {%else%}
                                                <img src="/static/notif_img/{{item['img']}}" alt="post-title"/>
                                                {%endif%}
                                               </div>
                                           </a>
                                       </div>
                                       <h5 class="post-title mb-0 mt-4"><a href="/notif/single/{{item['_id']}}"> {{item['title']}}  </a></h5>
                                       <!-- <ul class="meta list-inline mt-2 mb-0">
                                           <li class="list-inline-item"><a href="#">کاتن</a></li>
                                           <li class="list-inline-item">30 اردیبهشت 1401</li>
                                       </ul> -->
                                       <p class="excerpt mb-0">
                                           {% if item['text']|length > 70 %}
                                           {{item['text'][:70]}}...
                                           {%else%}
                                           {{item['text'][:70]}}
                                           {%endif%}
                                           
   
                                       </p>
                                   </div>
                               {%endfor%}



                               </div>
                               <!-- carousel arrows -->
                               <div class="slick-arrows-bot">
                                   <button type="button" data-role="none"
                                           class="carousel-botNav-prev slick-custom-buttons" aria-label="بعدی"><i
                                           class="icon-arrow-right"></i></button>
                                   <button type="button" data-role="none"
                                           class="carousel-botNav-next slick-custom-buttons" aria-label="قبلی"><i
                                           class="icon-arrow-left"></i></button>
                               </div>
                           </div>
                       </div>


                       <!-- ثبت نام ها -->
                       <div class="widget rounded">
                        <div class="widget-header text-center">
                            <h3 class="widget-title">ثبت نام</h3>
                            <img src="/static/theme/images/wave.svg" class="wave" alt="wave"/>
                        </div>
                        <div class="widget-content">
                            <!-- post -->
                        {%for sinup in sinup_show_list %}
                            <div class="post post-list-sm circle">
                                <div class="thumb circle">
                                    <span class="number">{{sinup['moavenat']}}</span>
                                    <a href="/sinup/insert/{{sinup['_id']}}">
                                        <div class="inner">
                                            <img src="/static/theme/images/posts/featured-md-4.jpg" alt="post-title"/>
                                        </div>
                                    </a>
                                </div>
                                <div class="details clearfix">
                                    <h6 class="post-title my-0"><a href="/sinup/insert/{{sinup['_id']}}">{{sinup["name"]}}</a></h6>
                                    <!-- <ul class="meta list-inline mt-1 mb-0">
                                        <li class="list-inline-item">30 اردیبهشت 1401</li>
                                    </ul> -->
                                </div>
                            </div>
                            <!-- <br> -->
                            {%endfor%}
                        </div>
                    </div>

                        <!--نظر سنجی -->
                        <div class="widget rounded">
                           <div class="widget-header text-center">
                               <h3 class="widget-title">نظر سنجی</h3>
                               <img src="/static/theme/images/wave.svg" class="wave" alt="wave"/>
                           </div>
                           <div class="widget-content">
                               <ul class="list">
                                   {%for surv in survay_show_list %}
                                   <li><a href="/sinup/insert/{{surv['_id']}}">{{surv["name"]}}</a><span>({{surv["moavenat"]}})</span></li>
                                   {%endfor%}
                                   
                               </ul>
                           </div>

                       </div>


                      <!-- لینک های مهم -->
                      <div class="widget rounded">
                        <div class="widget-header text-center">
                            <h3 class="widget-title">لینک های مهم</h3>
                            <img src="/static/theme/images/wave.svg" class="wave" alt="wave"/>
                        </div>
                        <div class="widget-content">
                            <ul class="list">
                                <li><a href="file://p395/portal/tel/TELJ.pdf">آیفون استان ها</a><span>(1)</span></li>
                                <li><a href="">تلفن های عمومی</a><span>(2)</span></li>
                                <li><a href="http://sql:55/c.aspx">شماره تماس همکاران</a><span>(3)</span></li>
                                <li><a href="file://p395.d955.net/portal/tel/tel2.htm">شماره تلفن مراکز استان وزارت</a><span>(4)</span></li>
                                <li><a href="http://est/c.aspx">کد کشورها</a><span>(5)</span></li>
                                <li><a href="file://p395.d955.net/portal/tel/pish%20shomare.docx">کد شهرها</a><span>(6)</span></li>
                                <li><a href="http://p395/amozesh/Documents/Sazman%20Tehran.pdf">شماره تلفن سازمان اطلاعات تهران</a><span>(7)</span></li>
                            </ul>
                        </div>

                    </div>
                        <!-- برچسب های آگهی -->
                        <div class="widget rounded">
                           <div class="widget-header text-center">
                               <h3 class="widget-title">برچسب های آگهی</h3>
                               <img src="/static/theme/images/wave.svg" class="wave" alt="wave"/>
                           </div>
                           <div class="widget-content">
                               {%for tag in tag_list %}
                               <a href="/post/index/tag/{{tag}}/1" class="tag">#{{tag}}</a>
                               {%endfor%}
                           </div>
                       </div>

                    </div>

                </div>
            </div>

        </div>
    </section>

    <!-- instagram feed -->
    <div class="instagram">
      <div class="container-xl">
          <!-- button -->
          <a href="/post/index/all/1" class="btn btn-default btn-instagram">صفحه آگهی</a>
          <!-- images -->
          <div class="instagram-feed d-flex flex-wrap">
              <div class="insta-item col-sm-2 col-6 col-md-2">
                  <a href="#">
                      <img src="/static/theme/images/insta/insta-1.jpg" alt="insta-title"/>
                  </a>
              </div>
              <div class="insta-item col-sm-2 col-6 col-md-2">
                  <a href="#">
                      <img src="/static/theme/images/insta/insta-2.jpg" alt="insta-title"/>
                  </a>
              </div>
              <div class="insta-item col-sm-2 col-6 col-md-2">
                  <a href="#">
                      <img src="/static/theme/images/insta/insta-3.jpg" alt="insta-title"/>
                  </a>
              </div>
              <div class="insta-item col-sm-2 col-6 col-md-2">
                  <a href="#">
                      <img src="/static/theme/images/insta/insta-4.jpg" alt="insta-title"/>
                  </a>
              </div>
              <div class="insta-item col-sm-2 col-6 col-md-2">
                  <a href="#">
                      <img src="/static/theme/images/insta/insta-1.jpg" alt="insta-title"/>
                  </a>
              </div>
              <div class="insta-item col-sm-2 col-6 col-md-2">
                  <a href="#">
                      <img src="/static/theme/images/insta/insta-6.jpg" alt="insta-title"/>
                  </a>
              </div>
          </div>
      </div>
  </div>

    <!-- footer -->
    <footer>
        <div class="container-xl">
            <div class="footer-inner">
                <div class="row d-flex align-items-center gy-4">
                    <!-- copyright text -->
                    <div class="col-md-4">
                        <span class="copyright">پورتال اداره کل </span>
                    </div>

                    <!-- social icons -->
                    <div class="col-md-4 text-center">
                        <ul class="social-icons list-unstyled list-inline mb-0">
                            <li class="list-inline-item"><a href="http://sql:55/c.aspx" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="شماره تماس همکاران" ><i class="fa fa-address-book"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.ibank.net/Login" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="بانک امین" ><i class="fa fa-university"></i></a></li>
                            <li class="list-inline-item"><a href="" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="لینکها" ><i class="fa fa-server"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.874.net/" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="صفحه من" ><i class="fa fa-id-card"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.agah.net/" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="آگاه" ><i class="fa fa-camera-retro"></i></a></li>
                            <!-- <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li> -->
                        </ul>
                    </div>

                    <!-- go to top button -->
                    <div class="col-md-4">
                        <a href="#" id="return-to-top" class="float-md-end"><i class="icon-arrow-up"></i>بازگشت به بالا</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div><!-- end site wrapper -->

<!-- search popup area -->
<div class="search-popup">
    <!-- close button -->
    <button type="button" class="btn-close" aria-label="Close"></button>
    <!-- content -->
    <div class="search-content">
        <div class="text-center">
            <h3 class="mb-4 mt-0">ESC را فشار دهید تا بسته شود</h3>
        </div>
        <!-- form -->
        <form method="post" action="/search/form/archive" class="d-flex search-form">
            <input class="form-control me-2" type="search" name="data" placeholder="جستجو کنید و اینتر را فشار دهید ..."
                   aria-label="Search">
            <button class="btn btn-default btn-lg" type="submit"><i class="icon-magnifier"></i></button>
        </form>
    </div>
</div>

<!-- canvas menu -->
<div class="canvas-menu d-flex align-items-end flex-column">
    <!-- close button -->
    <button type="button" class="btn-close" aria-label="Close"></button>

    <!-- logo -->
    <div class="logo">
		<a class="navbar-brand" href="/index">پورتال </a>
	</div>

    <!-- menu -->
    <nav>
      <ul class="vertical-menu">
          <li class="active">
              <a href="index.html">معاونت ها</a>
              <ul class="submenu"> 
                  <li><a href="/notif/0">اداره کل</a></li>
                  {%for mo in moavenats %}
                  <li><a href="/notif/{{mo}}">{{mo}}</a></li>
                  {%endfor%}
              </ul>
          </li>

          <li>
              <a href="/post/index/all/1">آگهی</a>
              <ul class="submenu">
                  <li><a href="/post/index/all/1">آگهی ها</a></li>
                  <li><a href="/post/index/username/{{user_data['username']}}/1">آگهی های من </a></li>
                  <li><a href="/post/create">نوشتن آگهی</a></li>
              </ul>
          </li>
          <li><a href="/form/archive/index/all/all/1">فرم ها</a></li>
          <li><a href="">لینک ها</a></li>
          <li><a href="about.html">درباره ما</a></li>
      </ul>
  </nav>

    <!-- social icons -->
    <ul class="social-icons list-unstyled list-inline mb-0">
        <li class="list-inline-item"><a href="http://sql:55/c.aspx" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="شماره تماس همکاران" ><i class="fa fa-address-book"></i></a></li>
        <li class="list-inline-item"><a href="https://www.ibank.net/Login" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="بانک امین" ><i class="fa fa-university"></i></a></li>
        <li class="list-inline-item"><a href="" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="لینکها" ><i class="fa fa-server"></i></a></li>
        <li class="list-inline-item"><a href="https://www.874.net/" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="صفحه من" ><i class="fa fa-id-card"></i></a></li>
        <li class="list-inline-item"><a href="https://www.agah.net/" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="آگاه" ><i class="fa fa-camera-retro"></i></a></li>
        <!-- <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li> -->
    </ul>
</div>

<!-- JAVA SCRIPTS -->
<script src="/static/theme/js/jquery.min.js"></script>
<script src="/static/theme/js/popper.min.js"></script>
<script src="/static/theme/js/bootstrap.min.js"></script>
<script src="/static/theme/js/slick.min.js"></script>
<script src="/static/theme/js/jquery.sticky-sidebar.min.js"></script>
<script src="/static/theme/js/custom.js"></script>
<script>
    function downloadAll(fileList) {
      if (!fileList || fileList.length === 0) return;
  
      for (const file of fileList) {
        const link = document.createElement("a");
        link.href = "/static/form_archive/"+file;
        link.download = '';
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
      }
    }
  </script>
</body>

</html>