<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Glassmorphism Creative Cloud App Redesign</title>
  <link rel="stylesheet" href="https://public.codepenassets.com/css/normalize-5.0.0.min.css">
<link rel="stylesheet" href="../static/dashboard/style.css">
<link rel="stylesheet" href="../static/fontawesome-free-6.4.2-web/css/fontawesome.css" />
<link rel="stylesheet" href="../static/fontawesome-free-6.4.2-web/css/all.css" />
<link rel="stylesheet" href="../static/bootstrap/dist/css/bootstrap.min.css">


</head>
<body>
<!-- partial:index.partial.html -->
<div class="video-bg">
 <!-- <video width="320" height="240" autoplay loop muted>
  <source src="../static/dashboard/7btrrd.mp4" type="video/mp4">
Your browser does not support the video tag.
</video> -->
</div>
<div class="dark-light">
    <svg viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
     <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z" /></svg>
   </div>
<div class="app">
 <div class="header">
  <!-- <div class="menu-circle"></div>
  <div class="header-menu">
   <a class="menu-link is-active" href="#">Apps</a>
   <a class="menu-link notify" href="#">Your work</a>
   <a class="menu-link" href="#">Discover</a>
   <a class="menu-link notify" href="#">Market</a>
  </div>
  <div class="search-bar">
   <input type="text" placeholder="Search">
  </div>-->
  <div class="header-profile">
   <!-- <div class="notification">
    <span class="notification-number">3</span>
    <svg viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell">
     <path d="M18 8A6 6 0 006 8c0 7-3 9-3 9h18s-3-2-3-9M13.73 21a2 2 0 01-3.46 0" />
    </svg>
   </div> -->
   <a href="/user/edite/self"><i style="padding-right: 0.5rem;color: white;" class='fa fa-user fa-lg'></i></a></div> 
 </div>
 <div class="wrapper">
  <div class="left-side">


   <div class="side-wrapper">
    <div class="side-title">اطلاعیه</div>
    <div class="side-menu">
      <a href="/notif/index">
        <i style="padding-right: 0.5rem;" class='fa fa-bullhorn'></i>
        مشاهده اطلاعیه ها
        </a>
     <a href="/notif/create">
        <i style="padding-right: 0.5rem;" class='fa fa-edit'></i>
        نوشتن اطلاعیه
       </a>
    </div>
   </div>

   <div class="side-wrapper">
      <div class="side-title">ثبت نام و نظر سنجی</div>
      <div class="side-menu">
        <a href="/form/index">
          <i style="padding-right: 0.5rem;" class='fa fa-newspaper'></i>
          مشاهده فرم ها
          </a>
       <a href="/form/create">
          <i style="padding-right: 0.5rem;" class='fa fa-object-group'></i>
          ایجاد فرم
         </a>
      </div>
     </div>

{% if user_data["type"] == "0" %}
   <div class="side-wrapper">
    <div class="side-title">مدیریت</div>
    <div class="side-menu">
     <a href="/index/user">
        <i style="padding-right: 0.5rem;" class='fa fa-users'></i>
        کاربران
        </a>
     <a href="/user/create">
        <i style="padding-right: 0.5rem;" class='fa fa-user-plus'></i>
        ایجاد کاربر
       </a>
       
    </div>
   </div>
   <div class="side-wrapper">
    <div class="side-title">آگهی</div>
    <div class="side-menu">
       <a href="/post/tag/index">
          <i style="padding-right: 0.5rem;" class='fa fa-tags'></i>
          تگ های پست
          </a>
       <a href="/post/tag/create">
          <i style="padding-right: 0.5rem;" class='fa fa-plus'></i>
          ایجاد تگ
         </a>
         <a href="/post/index/admin">
            <i style="padding-right: 0.5rem;" class='fa fa-newspaper'></i>
            مدیریت آگهی
           </a>
      </div>
   </div>

   <div class="side-wrapper">
      <div class="side-title">فرم ها</div>
      <div class="side-menu">
         <a href="/form/group/index">
            <i style="padding-right: 0.5rem;" class='fa fa-tags'></i>
            گره بندی های فرم
            </a>
         <a href="/form/group/create">
            <i style="padding-right: 0.5rem;" class='fa fa-plus'></i>
            ایجاد گروه
           </a>
           <a href="/form/archive/create">
              <i style="padding-right: 0.5rem;" class='fa fa-newspaper'></i>
              ایجاد فرم
             </a>
        </div>
     </div>
  {%endif%}


  </div>
  <div class="main-container">
   <div class="main-header">
    <a class="menu-link-main" href="#">ثبت نام و نظر سنجی</a>
    <div class="header-menu">
     <a class="main-header-link is-active" href="/form/index">فرم ها</a>
     <a class="main-header-link " href="/form/create">ایجاد فرم</a>
     <!-- <a class="main-header-link" href="#">Web</a> -->

    </div>
   </div>
   <div class="content-wrapper">
    

 <div class="content-section">
  <div class="content-section-title">فرم ها</div>
  {% for form in forms%}
  <ul>
   <li class="adobe-product">
    <div class="products">
      <span class="status-circle green"></span>
      {{form["name"]}}
    </div>
    <span class="status">
      {{form["moavenat"]}}
     </span>
    <span class="status">
      {{form["type_form"]}}
     </span>
     <span class="status">
       ثبت شده : {{form["count_person"]}}
     </span>
    <span class="status">
     
     نمایش : <input type="checkbox" name="" class="" {%if form.show %} checked {%endif%} onclick="return false;"/>
    </span>

    

    <!-- <div class="button-wrapper"> -->
      <div class="">
      <a  href="/form/download/member/{{form['_id']}}" style="padding-right: 0.5rem;" class="btn btn-sm btn-success"> <i style="color: black !important;" class='fa fa-file-excel'></i></a>
      {% if user_data["type"] == "0" %}
      <a  href="/form/show/{{form['_id']}}" style="padding-right: 0.5rem;" class="btn btn-sm btn-warning"> <i style="color: black !important;" class='fa {%if form.show %} fa-eye-slash {%else%} fa-eye {%endif%} '></i></a>
      {%endif%}
      <a  href="/form/member/{{form['_id']}}" style="padding-right: 0.5rem;" class="btn btn-sm btn-primary"> <i style="color: black !important;" class='fa fa-users'></i></a>

      <a  href="/form/delete/{{form['_id']}}"  class="btn btn-sm btn-danger"> <i style="color: black !important;" class='fa fa-trash'></i></a>
    </div>
   </li>

  </ul>
 {%endfor %}
 </div>

  </div>
 </div>
 <div class="overlay-app"></div>
</div>
<!-- partial -->
<script src='../static/be_offline/jquery.min.js'></script><script  src="../static/dashboard/script.js"></script>

</body>
</html>




