<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>اطلاعیه معاونت ها</title>
	<meta name="description" content="Katen - قالب وبلاگ و مجله خبری مینیمال">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">

	<!-- STYLES -->
	<link rel="stylesheet" href="../../static/theme/css/bootstrap.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="../../static/theme/css/all.min.css" type="text/css" media="all">
	<link rel="stylesheet" href="../../static/theme/css/slick.css" type="text/css" media="all">
	<link rel="stylesheet" href="../../static/theme/css/simple-line-icons.css" type="text/css" media="all">
	<link rel="stylesheet" href="../../static/theme/css/style.css" type="text/css" media="all">
	<link rel="stylesheet" href="../../static/theme/css/vazir-font.css" type="text/css" media="all">

	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- preloader -->
<div id="preloader">
	<div class="book">
		<div class="inner">
			<div class="left"></div>
			<div class="middle"></div>
			<div class="right"></div>
		</div>
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</div>

<!-- site wrapper -->
<div class="site-wrapper">

	<div class="main-overlay"></div>

	<!-- header -->
	<header class="header-classic">

			<div class="container-xl">
				<!-- header top -->
				<div class="header-top">
					<div class="row align-items-center">

						<div class="col-md-4 col-xs-12">
							<!-- site logo -->
							<a class="navbar-brand" href="/index">پورتال </a>
						</div>

						<div class="col-md-8 d-none d-md-block">
							<!-- social icons -->
							<!-- <ul class="social-icons list-unstyled list-inline mb-0">
								<li class="list-inline-item"><a href="http://sql:55/c.aspx" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="شماره تماس همکاران" ><i class="fa fa-address-book"></i></a></li>
								<li class="list-inline-item"><a href="https://www.ibank.net/Login" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="بانک امین" ><i class="fa fa-university"></i></a></li>
								<li class="list-inline-item"><a href="" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="لینکها" ><i class="fa fa-server"></i></a></li>
								<li class="list-inline-item"><a href="https://www.874.net/" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="صفحه من" ><i class="fa fa-id-card"></i></a></li>
								<li class="list-inline-item"><a href="https://www.agah.net/" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="آگاه" ><i class="fa fa-camera-retro"></i></a></li>
								
							</ul> -->
						</div>

					</div>
				</div>
			</div>

			<nav class="navbar navbar-expand-lg">
				<!-- header bottom -->
				<div class="header-bottom  w-100">
					
					<div class="container-xl">
						<div class="d-flex align-items-center">
							<div class="collapse navbar-collapse flex-grow-1">
								<!-- menus -->
								<ul class="navbar-nav">
									<li class="nav-item active">
										<a class="nav-link" href="/">صفحه اصلی</a>
									</li>
									<li class="nav-item dropdown ">
										<a class="nav-link dropdown-toggle" href="index.html">معاونت ها</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="/notif/0">اداره کل</a></li>
											{%for mo in moavenats %}
											<li><a class="dropdown-item" href="/notif/{{mo}}">{{mo}}</a></li>
											{%endfor%}
										</ul>
									</li>

									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="/post/index/all/1">آگهی</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="/post/index/all/1">آگهی ها</a></li>
											<li><a class="dropdown-item" href="/post/index/username/{{user_data['username']}}/1">آگهی های من</a></li>
											<li><a class="dropdown-item" href="/post/create">نوشتن آگهی</a></li>
										</ul>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/form/archive/index/all/all/1">فرم ها</a>
										</li>
									<li class="nav-item">
										<a class="nav-link" href="">لینک ها</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="about.html">درباره ما</a>
									</li>
								</ul>
							</div>

							<!-- header buttons -->
							<div class="header-buttons">
								<button class="search icon-button">
									<i class="icon-magnifier"></i>
								</button>
								<button class="burger-menu icon-button ms-2 float-end float-lg-none">
									<span class="burger-icon"></span>
								</button>
								<a href="/logout" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="خروج" class="icon-button ms-2 float-end float-lg-none">
									<span class="fa fa-share-square"></span>
								</a>
								<a href="/user_s/edite/self" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="ویرایش اطلاعات کاربر" class="icon-button-lg ms-2 float-end float-lg-none">
									<span style="padding-top: 3px;padding-left: 3px;">{{ user_data["username"] }} - </span><span class="fa fa-user"></span>
								</a>
                                <script>
                                    const tooltipTriggerList=[].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
                                    tooltipTriggerList.map(function (tooltipTriggerE1){
                                        return new bootstrap.Tooltip(tooltipTriggerE1)
                                    })
                                </script>
							</div>
						</div>
					</div>

				</div>
			</nav>

	</header>

    <section class="hero-carousel">
        <div class="container-xl">
            <div class="post-carousel-lg">
                <!-- post -->
			{% for notif_im in main_notif_list_important %}
                <div class="post featured-post-xl">
                    <div class="details clearfix">
                        <a href="/notif/{{notif_im['moavenat']}}" class="category-badge lg">{%if notif_im["moavenat"]=="0" %}  اداره کل  {%else%}  {{notif_im["moavenat"]}} {%endif%}</a>
                        <h4 class="post-title"><a href="/notif/single/{{notif_im['_id']}}">{{notif_im["title"]}}</a></h4>
                        <ul class="meta list-inline mb-0">
							{% if notif_im["like"] == True %}
                             <i style="padding-right: 0.5rem;" class='fa fa-heart'></i> </i> {{notif_im["count_like"]}}</li>
						
							{%endif%}
                            {% if notif_im["comment"] == True %}
                            <i style="padding-right: 0.5rem;" class='fa fa-comments'></i> </i> {{notif_im["count_comment"]}}</li>

							{%endif%}
                        </ul>
                    </div>
                    <a href="/notif/single/{{notif_im['_id']}}">
                        <div class="thumb rounded">
                            <div class="inner data-bg-image" data-bg-image="../../static/notif_img/{{notif_im['img']}}"></div>
                        </div>
                    </a>
                </div>
			{%endfor%}

            </div>
        </div>
    </section>

	<!-- section main content -->
	<section class="main-content">
		<div class="container-xl">

			<div class="row gy-4">
				<div class="col-lg-8">
					{%for main_notif in main_notif_list %}
					<!-- post -->
					<div class="post post-classic rounded bordered">
						<div class="thumb top-rounded">
							<a href="/notif/{{main_notif['moavenat']}}" class="category-badge lg position-absolute">{%if main_notif["moavenat"]=="0" %}  اداره کل  {%else%}  {{main_notif["moavenat"]}} {%endif%}</a>
							<span class="post-format">
								<i class="icon-picture"></i>
							</span>
							<a href="/notif/single/{{main_notif['_id']}}">
								<div class="inner">
									{% if main_notif['img'].endswith(('.mp4','.webm','.ogg')) %}
									
									{%if main_notif['secret'] %} 
									<video controls controlsList="nodownload" oncontextmenu="return false" preload="metadata" style="max-width: 690px;max-height: 350px;" >
										<source src="/static/notif_img/{{main_notif['img']}}" type="video/mp4">
									</video>
									{%else%}
									<video controls preload="metadata" style="max-width: 736px;max-height: 350px;" >
										<source src="/static/notif_img/{{main_notif['img']}}" type="video/mp4">
									</video>
									{%endif%}
									{%else%}
									<img src="../../static/notif_img/{{main_notif['img']}}" alt="post-title"/>
									{%endif%}
									
								</div>
							</a>
						</div>
						<div class="details">
							<ul class="meta list-inline mb-0">
								{% if main_notif["like"] == True %}
								<a class="like_c" onclick="handleLikeDislike(this)" data-post-id="{{main_notif['_id']}}" data-post-countl="{{main_notif['count_like']}}" data-post-moavenat="{{main_notif['moavenat']}}" > <i style="padding-right: 0.5rem;" class='fa fa-heart list-inline-item'></i> </a></i> <span id="{{main_notif['_id']}}">{{main_notif["count_like"]}} </span> </li>
								      
								{%endif%}
                            {% if main_notif["comment"] == True %}
                            <i style="padding-right: 0.5rem;" class='fa fa-comments list-inline-item'></i> </i> {{main_notif["count_comment"]}}</li>

							{%endif%}
								
							</ul>
							<h5 class="post-title mb-3 mt-3"><a href="/notif/single/{{main_notif['_id']}}">{{main_notif["title"]}}</a></h5>
							<span class="date">{{main_notif["date"]}}</span>
							<p class="excerpt mb-0">

								{% if main_notif['text']|length > 150 %}
								{{main_notif['text'][:150]}}...
								{%else%}
								{{main_notif['text'][:150]}}
								{%endif%}
							</p>
						</div>
						<div class="post-bottom clearfix d-flex align-items-center">
							<div class="social-share me-auto">
								<button class="toggle-button icon-share"></button>
								<!-- <ul class="icons list-unstyled list-inline mb-0">
									<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
									<li class="list-inline-item"><a href="#"><i class="far fa-envelope"></i></a></li>
								</ul> -->
							</div>
							<div class="float-end d-none d-md-block">
								<a href="/notif/single/{{main_notif['_id']}}" class="more-link">ادامه مطلب<i class="icon-arrow-left"></i></a>
							</div>
							<div class="more-button d-block d-md-none float-end">
								<a href="/notif/single/{{main_notif['_id']}}"><span class="icon-options"></span></a>
							</div>
						</div>
					</div>
					{%endfor%}
					<script>
                             
						let clickTimeout = null;
						let clickCount = 0;
						
					
						function handleLikeDislike(button) {
							const item_id =button.dataset.postId
							const count_like =button.dataset.postCountl
							const moavenat =button.dataset.postMoavenat

							clickCount++;

							const like_url='/like/'+item_id+'/like/notif/'+moavenat+'/'+count_like
							const dislike_url='/like/'+item_id+'/dislike/notif/'+moavenat+'/'+count_like


							if (clickTimeout) {
								clearTimeout(clickTimeout);
							}
					
							clickTimeout = setTimeout(() => {
								if (clickCount === 1) {

									sendAction(like_url,item_id);
								} else if (clickCount === 2) {

									sendAction(dislike_url,item_id);
								}
								clickCount = 0;
							}, 400); // زمان انتظار برای بررسی دابل‌کلیک (قابل تنظیمه)
						}
					
						function sendAction(url,item_id) {
							fetch(url, {
								method: 'get',
								headers: { 'Content-Type': 'application/json' },
							})
							.then(res => res.text())
							.then(data => {
								const elm=document.getElementById(item_id);
                                    if (data =="login"){
                                        elm.innerHTML="<a href='/login'> ورود </a>"
                                    }
                                    else {
                                    elm.textContent= data;
                                    }
							});
						}
					</script>

<nav>
	<ul class="pagination justify-content-center">
		{%set page = page|int %}
		{%set page_prev = page-1 %}
		
		{%if page_prev != 1 and page_prev != 0 %}
			<li class="page-item"><a class="page-link" href="/search/notif?data_save={{data}}&page=1">1</a></li>
		{%endif%}

	   
		{% set page_1 = page_prev-1 %}
		{%if page_1 > 1 %}
		<li style="padding-top: 18px;" class="page-item active" aria-current="page"><span style="width: 8px;height: 8px;" class="page-link"></span>
		</li>
		<li style="padding-top: 18px;" class="page-item active" aria-current="page"><span  style="width: 8px;height: 8px;" class="page-link"></span>
		</li>
		{%endif%}
		
		{%if page != 1%}
		
			<li class="page-item"><a class="page-link" href="/search/notif?data_save={{data}}&page={{page_prev}}">{{page_prev}}</a></li>
		{%endif%}

		<li class="page-item active" aria-current="page">
			<span class="page-link">{{page}}</span>
		 </li>

		{%set page_next = page+1 %}
		{%if page < page_count %}
		
			<li class="page-item"><a class="page-link" href="/search/notif?data_save={{data}}&page={{page_next}}">{{page_next}}</a></li>
		{%endif%}

		{% set page_2 =page_count  -page_next %}
		{%if page_2 > 1 %}
		<li style="padding-top: 18px;" class="page-item active" aria-current="page"><span style="width: 8px;height: 8px;" class="page-link"></span>
		</li>
		<li style="padding-top: 18px;" class="page-item active" aria-current="page"><span  style="width: 8px;height: 8px;" class="page-link"></span>
		</li>
		{%endif%}

		{%if page_next < page_count %}
		
			<li class="page-item"><a class="page-link" href="/search/notif?data_save={{data}}&page={{page_count}}">{{page_count}}</a></li>
		{%endif%}


	   
	</ul>
</nav>


				</div>

				<div class="col-lg-4">

                    <!-- sidebar -->
                    <div class="sidebar">
                        <!-- widget about -->
                        <div class="widget rounded">
                            <div class="widget-about data-bg-image text-center" data-bg-image="images/map-bg.png">
                                <!-- <img src="../../static/theme/images/logo.svg" alt="logo" class="mb-4"/> -->
                                مقام معظم رهبری
								<p class="mb-4">اگر حادثه کربلا و اسوه گیری از آن نبود، انقلاب اسلامی ایران پیروز نمیشد.
                                    <br>
                                    1404/3/26
                                </p>
									<ul class="social-icons list-unstyled list-inline mb-0">
										<li class="list-inline-item"><a href="http://sql:55/c.aspx" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="شماره تماس همکاران" ><i class="fa fa-address-book"></i></a></li>
										<li class="list-inline-item"><a href="https://www.ibank.net/Login" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="بانک امین" ><i class="fa fa-university"></i></a></li>
										<li class="list-inline-item"><a href="" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="لینکها" ><i class="fa fa-server"></i></a></li>
										<li class="list-inline-item"><a href="https://www.874.net/" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="صفحه من" ><i class="fa fa-id-card"></i></a></li>
										<li class="list-inline-item"><a href="https://www.agah.net/" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="آگاه" ><i class="fa fa-camera-retro"></i></a></li>
										<!-- <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li> -->
									</ul>
                            </div>
                        </div>

                        
                        <!--  مطالب مهم -->
                        <div class="widget rounded">
                            <div class="widget-header text-center">
                                <h3 class="widget-title">مطالب مهم</h3>
                                <img src="../../static/theme/images/wave.svg" class="wave" alt="wave"/>
                            </div>
                            <div class="widget-content">
                                <div class="post-carousel-widget">
                                    <!-- post -->
                                    
                                {%for item in  main_notif_list_admin %}
                                    <div class="post post_small post-carousel">
                                        <div class="thumb rounded">
                                            <a href="/notif/{{item['moavenat']}}" class="category-badge position-absolute">{%if item["moavenat"]=="0" %}  اداره کل  {%else%}  {{item["moavenat"]}} {%endif%} </a>
                                            <a href="/notif/single/{{item['_id']}}">
                                                <div class="inner">
                                                    {% if item['img'].endswith(('.mp4','.webm','.ogg')) %}
                                                    <!-- <img src="/static/notif_img/{{item['img']}}" alt="post-title"/> -->
                                                    <img src="/static/notif_img/default_video.jpg" alt="post-title"/>
                                                    {%else%}
                                                    <img src="/static/notif_img/{{item['img']}}" alt="post-title"/>
                                                    {%endif%}
                                                </div>
                                            </a>
                                        </div>
                                        <h5 class="post-title mb-0 mt-4"><a href="/notif/single/{{item['_id']}}"> {{item['title']}}  </a></h5>
                                        <!-- <ul class="meta list-inline mt-2 mb-0">
                                            <li class="list-inline-item"><a href="#">کاتن</a></li>
                                            <li class="list-inline-item">30 اردیبهشت 1401</li>
                                        </ul> -->
                                        <p class="excerpt mb-0">
                                            {% if item['text']|length > 70 %}
                                            {{item['text'][:70]}}...
                                            {%else%}
                                            {{item['text'][:70]}}
                                            {%endif%}
                                            
    
                                        </p>
                                    </div>
                                {%endfor%}



                                </div>
                                <!-- carousel arrows -->
                                <div class="slick-arrows-bot">
                                    <button type="button" data-role="none"
                                            class="carousel-botNav-prev slick-custom-buttons" aria-label="بعدی"><i
                                            class="icon-arrow-right"></i></button>
                                    <button type="button" data-role="none"
                                            class="carousel-botNav-next slick-custom-buttons" aria-label="قبلی"><i
                                            class="icon-arrow-left"></i></button>
                                </div>
                            </div>
                        </div>


                       
                        <!-- ثبت نام ها -->
                        <div class="widget rounded">
                            <div class="widget-header text-center">
                                <h3 class="widget-title">ثبت نام</h3>
                                <img src="../../static/theme/images/wave.svg" class="wave" alt="wave"/>
                            </div>
                            <div class="widget-content">
                                <!-- post -->
                            {%for sinup in sinup_show_list %}
                                <div class="post post-list-sm circle">
                                    <div class="thumb circle">
                                        <span class="number">{{sinup['moavenat']}}</span>
                                        <a href="/sinup/insert/{{sinup['_id']}}">
                                            <div class="inner">
                                                <img src="../../static/theme/images/posts/tabs-3.jpg" alt="post-title"/>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="details clearfix">
                                        <h6 class="post-title my-0"><a href="/sinup/insert/{{sinup['_id']}}">{{sinup["name"]}}</a></h6>
                                        <!-- <ul class="meta list-inline mt-1 mb-0">
                                            <li class="list-inline-item">30 اردیبهشت 1401</li>
                                        </ul> -->
                                    </div>
                                </div>
                                {%endfor%}
                            </div>
                        </div>

                        
                         <!--نظر سنجی -->
                        <div class="widget rounded">
                            <div class="widget-header text-center">
                                <h3 class="widget-title">نظر سنجی</h3>
                                <img src="../../static/theme/images/wave.svg" class="wave" alt="wave"/>
                            </div>
                            <div class="widget-content">
                                <ul class="list">
                                    {%for surv in survay_show_list %}
                                    <li><a href="/sinup/insert/{{surv['_id']}}">{{surv["name"]}}</a><span>({{surv["moavenat"]}})</span></li>
                                    {%endfor%}
                                    
                                </ul>
                            </div>

                        </div>

                        <!-- لینک های مهم -->
                        <div class="widget rounded">
                            <div class="widget-header text-center">
                                <h3 class="widget-title">لینک های مهم</h3>
                                <img src="/static/theme/images/wave.svg" class="wave" alt="wave"/>
                            </div>
                            <div class="widget-content">
                                <ul class="list">
                                    <li><a href="file://p395/portal/tel/TELJ.pdf">آیفون استان ها</a><span>(1)</span></li>
                                    <li><a href="">تلفن های عمومی</a><span>(2)</span></li>
                                    <li><a href="http://sql:55/c.aspx">شماره تماس همکاران</a><span>(3)</span></li>
                                    <li><a href="file://p395.d955.net/portal/tel/tel2.htm">شماره تلفن مراکز استان وزارت</a><span>(4)</span></li>
                                    <li><a href="http://est/c.aspx">کد کشورها</a><span>(5)</span></li>
                                    <li><a href="file://p395.d955.net/portal/tel/pish%20shomare.docx">کد شهرها</a><span>(6)</span></li>
                                    <li><a href="http://p395/amozesh/Documents/Sazman%20Tehran.pdf">شماره تلفن سازمان اطلاعات تهران</a><span>(7)</span></li>
                                </ul>
                            </div>

                        </div>






                        <!-- برچسب های آگهی -->
                        <div class="widget rounded">
                            <div class="widget-header text-center">
                                <h3 class="widget-title">برچسب های آگهی</h3>
                                <img src="../../static/theme/images/wave.svg" class="wave" alt="wave"/>
                            </div>
                            <div class="widget-content">
                                {%for tag in tag_list %}
                                <a href="/post/index/tag/{{tag}}/1" class="tag">#{{tag}}</a>
                                {%endfor%}
                            </div>
                        </div>

                    </div>

                </div>

			</div>

		</div>
	</section>

	<!-- instagram feed -->
	<div class="instagram">
        <div class="container-xl">
            <!-- button -->
            <a href="/post/index/all/1" class="btn btn-default btn-instagram">صفحه آگهی</a>
            <!-- images -->
            <div class="instagram-feed d-flex flex-wrap">
                <div class="insta-item col-sm-2 col-6 col-md-2">
                    <a href="#">
                        <img src="../../static/theme/images/insta/insta-1.jpg" alt="insta-title"/>
                    </a>
                </div>
                <div class="insta-item col-sm-2 col-6 col-md-2">
                    <a href="#">
                        <img src="../../static/theme/images/insta/insta-2.jpg" alt="insta-title"/>
                    </a>
                </div>
                <div class="insta-item col-sm-2 col-6 col-md-2">
                    <a href="#">
                        <img src="../../static/theme/images/insta/insta-3.jpg" alt="insta-title"/>
                    </a>
                </div>
                <div class="insta-item col-sm-2 col-6 col-md-2">
                    <a href="#">
                        <img src="../../static/theme/images/insta/insta-4.jpg" alt="insta-title"/>
                    </a>
                </div>
                <div class="insta-item col-sm-2 col-6 col-md-2">
                    <a href="#">
                        <img src="../../static/theme/images/insta/insta-1.jpg" alt="insta-title"/>
                    </a>
                </div>
                <div class="insta-item col-sm-2 col-6 col-md-2">
                    <a href="#">
                        <img src="../../static/theme/images/insta/insta-6.jpg" alt="insta-title"/>
                    </a>
                </div>
            </div>
        </div>
    </div>

	<!-- footer -->
	<footer>
		<div class="container-xl">
			<div class="footer-inner">
				<div class="row d-flex align-items-center gy-4">
					<!-- copyright text -->
					<div class="col-md-4">
						<span class="copyright">پورتال اطلاع رسانی <a href="/index">اداره کل </a></span>
					</div>

					<!-- social icons -->
					<div class="col-md-4 text-center">
						<ul class="social-icons list-unstyled list-inline mb-0">
							<li class="list-inline-item"><a href="http://sql:55/c.aspx" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="شماره تماس همکاران" ><i class="fa fa-address-book"></i></a></li>
							<li class="list-inline-item"><a href="https://www.ibank.net/Login" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="بانک امین" ><i class="fa fa-university"></i></a></li>
							<li class="list-inline-item"><a href="" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="لینکها" ><i class="fa fa-server"></i></a></li>
							<li class="list-inline-item"><a href="https://www.874.net/" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="صفحه من" ><i class="fa fa-id-card"></i></a></li>
							<li class="list-inline-item"><a href="https://www.agah.net/" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="آگاه" ><i class="fa fa-camera-retro"></i></a></li>
							<!-- <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li> -->
						</ul>
					</div>

					<!-- go to top button -->
					<div class="col-md-4">
						<a href="#" id="return-to-top" class="float-md-end"><i class="icon-arrow-up"></i>بازگشت به بالا</a>
					</div>
				</div>
			</div>
		</div>
	</footer>

</div><!-- end site wrapper -->

<!-- search popup area -->
<div class="search-popup">
	<!-- close button -->
	<button type="button" class="btn-close" aria-label="Close"></button>
	<!-- content -->
	<div class="search-content">
		<div class="text-center">
			<h3 class="mb-4 mt-0">ESC را فشار دهید تا بسته شود</h3>
		</div>
		<!-- form -->
		<form method="post" action="/search/notif" class="d-flex search-form">
            <input class="form-control me-2" type="search" name="data" placeholder="جستجو کنید و اینتر را فشار دهید ..."
                   aria-label="Search">
            <button class="btn btn-default btn-lg" type="submit"><i class="icon-magnifier"></i></button>
        </form>
	</div>
</div>

<!-- canvas menu -->
<div class="canvas-menu d-flex align-items-end flex-column">
	<!-- close button -->
	<button type="button" class="btn-close" aria-label="Close"></button>

	<!-- logo -->
	<div class="logo">
		<a class="navbar-brand" href="/index">پورتال </a>
	</div>

	<!-- menu -->
	<nav>
		<ul class="vertical-menu">
			<li class="active">
				<a href="index.html">معاونت ها</a>
				<ul class="submenu">
					<li><a href="/notif/0">اداره کل</a></li>

                    {%for mo in moavenats %}
                    <li><a href="/notif/{{mo}}">{{mo}}</a></li>
                    {%endfor%}
				</ul>
			</li>

			<li>
				<a href="/post/index/all/1">آگهی</a>
				<ul class="submenu">
					<li><a href="/post/index/all/1">آگهی ها</a></li>
                    <li><a href="/post/index/username/{{user_data['username']}}/1">آگهی های من</a></li>
                    <li><a href="/post/create">نوشتن آگهی</a></li>

				</ul>
			</li>
			<li><a href="/form/archive/index/all/all/1">فرم ها</a></li>
			<li><a href="">لینک ها</a></li>
			<li><a href="about.html">درباره ما</a></li>
		</ul>
	</nav>

	<!-- social icons -->
	<ul class="social-icons list-unstyled list-inline mb-0">
		<li class="list-inline-item"><a href="http://sql:55/c.aspx" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="شماره تماس همکاران" ><i class="fa fa-address-book"></i></a></li>
		<li class="list-inline-item"><a href="https://www.ibank.net/Login" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="بانک امین" ><i class="fa fa-university"></i></a></li>
		<li class="list-inline-item"><a href="" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="لینکها" ><i class="fa fa-server"></i></a></li>
		<li class="list-inline-item"><a href="https://www.874.net/" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="صفحه من" ><i class="fa fa-id-card"></i></a></li>
		<li class="list-inline-item"><a href="https://www.agah.net/" data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="آگاه" ><i class="fa fa-camera-retro"></i></a></li>
		<!-- <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li> -->
	</ul>
</div>

<!-- JAVA SCRIPTS -->
<script src="../../static/theme/js/jquery.min.js"></script>
<script src="../../static/theme/js/popper.min.js"></script>
<script src="../../static/theme/js/bootstrap.min.js"></script>
<script src="../../static/theme/js/slick.min.js"></script>
<script src="../../static/theme/js/jquery.sticky-sidebar.min.js"></script>
<script src="../../static/theme/js/custom.js"></script>
<script>
    // جلوگیری از راست‌کلیک
    document.querySelectorAll('video[controlsList~="nodownload"]').forEach(video =>{video.addEventListener('contextmenu',e => e.preventDefault())});
    
    // جلوگیری از کلیدهای ذخیره یا DevTools ساده
    document.addEventListener('keydown', e => {
        if ((e.ctrlKey && (e.key === 's' || e.key === 'u')) || e.key === 'F12') {
            e.preventDefault();
        }
    });
    </script>
</body>

</html>